html {
  font-size: 18px;
}

body {
  color: white;
  font-family: Helvetica;
  margin: 0;
  background-color: black;
}

div {
  display: block;
}

/*header section*/
header {
  display: flex;
  height: 2.32rem;
  width: 960px;
  background-color: black;
  padding: 12px 0px 12px 0.5rem;
  flex-direction: row;
  align-items: center;
}

.logo img {
  display: inline-flex;
  padding-left: 0.5rem;
  height: 1.5rem;
  padding-top: 0.33rem;
  margin-left: 175px;
}

.company h1 {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  padding-left: 1rem;
}

/*banner section*/

.banner {
  display: flex;
  align-items: center;
  background-image: url("../images/mainbanner.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.banner-image {
  height: 25rem;

}

.banner-text {

}
